﻿/*
    EPUB3, Kindle
*/

h1 { font-size: 2.1em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.1em; }

h1 {
    page-break-before: always;
    page-break-after: avoid;
    text-align: center;
    font-family: sans-serif;
}

h2 {
    page-break-before: avoid;
    page-break-after: avoid;
    text-align: center;
    font-family: sans-serif;
}

p { text-indent: 0em; }

section.level1 p { text-align: justify; }

figure {
    margin-left: auto;
    padding-left: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    page-break-inside: avoid;
    page-break-before: avoid;
}

figure figcaption {
    display: block;
    text-align: center;
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    font-size: smaller;
    page-break-before: avoid;
}

figure img {
    display: block;
    margin: 0em auto;
}

pre {
    padding: 0.5em;
    font-size: 90%;
}

blockquote {
    margin-left: 1.2em;
    margin-right: 0em;
    font-size: smaller;
}

em, em em em, em em em em em {
    font-style: italic;
}

em em, em em em em {
    font-style: normal;
}

nav {
    display: none;
}

#toc {
    display: block;
}

#toc-title {
    font-weight: normal !important;
    font-family: sans-serif;
}

ol.toc {
    padding: 0em;
    text-align: left;
}

li > ol.toc {
    margin-left: 1em;
}

ol.toc > li {
    list-style-type: none;
    margin: 0em;
    padding: 0em;
}

#toc > ol.toc > li {
    margin-bottom: 1em;
}

#toc > ol.toc > li > ol.toc > li {
    margin-left: 1em;
    text-indent: -1em;
}

#toc > ol.toc > li > a {
    font-weight: bold;
}

ol.toc li a:link {
    text-decoration:none !important;
}

ol.toc li a:visited {
    text-decoration:none !important;
}

ol.toc li a:active {
    text-decoration:none !important;
}

ol.toc li a:hover {
    text-decoration:none !important;
}

#titlepage {
    page-break-before: always;
    page-break-after: always;
    margin: 8% auto auto auto;
}

p.main {
    font-size: 2.1em;
    font-family: sans-serif;
    text-align: center;
}

p.title {
    font-size: 2.1em;
    font-family: sans-serif;
    text-align: center;
}

p.subtitle {
    font-size: 1.6em;
    font-family: sans-serif;
    text-align: center;
}

p.author {
    font-size: 1.3em;
    font-family: sans-serif;
    text-align: center;
}

p.translator {
    font-size: 1.2em;
    font-family: sans-serif;
    text-align: center;
}

p.creator {
    font-size: 1.2em;
    font-family: sans-serif;
    text-align: center;
    display: none;
}

p.publisher {
    font-size: 0.8em;
    font-family: sans-serif;
    text-align: left;
    display: none;
}

p.date {
    font-family: sans-serif;
    text-align: center;
}

div.rights {
    margin-top: 3em;
    font-family: sans-serif;
    font-size: 0.6em;
    display: none;
}

section.hidden > h1 {
    display: none;
}

section.hidden > h2 {
    display: none;
}

div.ralign {
    text-align: right;
    font-style: italic;
    font-size: smaller;
    margin-bottom: 1.5em;
    page-break-before: avoid;
}

div.subtitle > p {
    font-family: sans-serif;
    font-size: 1.4em;
    font-style: italic;
    text-align: center;
    page-break-after: avoid;
}

div.ralign p {
    text-align: right;
}

a.footnote-ref {
    vertical-align: super;
    font-size: smaller;
    padding-left: 0.25em;
    text-decoration: none;
}

a.footnote-back {
    text-decoration: none;
    padding-left: 0.25em;
}

section.footnotes > ol {
    font-size: smaller;
    list-style-position: outside;
}

div.verse {
    text-align: left;
}

div.verse p {
    text-align: left;
    margin-bottom: 0em;
    margin-top: 0em;
    margin-left: 1em;
    text-indent: -1em;
}

div.verse > .line-block {
    text-align: left;
    margin-bottom: 0em;
    margin-top: 0em;
    margin-left: 1em;
    margin-bottom: 1em;
    text-indent: -1em;
}

div.verse > .versep {
    margin-bottom: 1em;
}

section.footnotes div.verse {
    display: inline-block;
    vertical-align: top;
}

span.header-section-number::after, span.section-header-number::after {
    content: ".";
    color: #404040;
}

div.theend {
    font-size: larger;
}

div.theend > p {
    text-align: center;
}

div.lalign {
    text-align: left;
}

/*
    commit info styles
*/

div.commitinfo {
    margin-top: 6em;
    text-align: left;
}

div.commiturl {
    text-align: center;
}

div.commitqr {
    display: inline-block;
    border-style: solid;
    border-width: thin;
}

div.committ {
    font-family: monospace;
    font-size: xx-small;
}
